<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
	   xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">



	<context:component-scan base-package="controller"/>

	<context:component-scan base-package="aop"/>
	<aop:aspectj-autoproxy />
	<!-- 支持 @Async 注解 -->
	<task:executor id="annotationExecutor" pool-size="20"/>
	<task:annotation-driven executor="annotationExecutor" />



	<!-- don't handle the static resource-->
	<mvc:default-servlet-handler/>
	
    <!-- if you use annotation you must configure following setting -->
	<mvc:annotation-driven/>
	
	<!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
		<!--<property name="prefix">-->
			<!--<value>/WEB-INF/pages/</value>-->
		<!--</property>-->
		<!--&lt;!&ndash; 视图名称后缀,名字由controller提供 &ndash;&gt;-->
		<!--<property name="suffix">-->
			<!--<value>.html</value>-->
		<!--</property>-->
	<!--</bean>-->
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize">
			<value>10240000</value>
		</property>
		<property name="defaultEncoding" value="utf-8"/>
		<property name="resolveLazily" value="true"/>
	</bean>
	<!--springMVC+thymeleaf的跳转页面配置-->
	<bean id="templateResolver"
		  class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
		<constructor-arg ref="servletContext"/>
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".html" />
		<property name="templateMode" value="HTML5" />
		<property name="cacheable" value="false" />
		<property name="characterEncoding" value="UTF-8" />
	</bean>

	<bean id="templateEngine"
		  class="org.thymeleaf.spring4.SpringTemplateEngine">
		<property name="templateResolver" ref="templateResolver" />
	</bean>

	<bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
		<property name="templateEngine" ref="templateEngine" />
		<property name="characterEncoding" value="UTF-8" />
	</bean>
	
</beans>
