<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.ExceptionListMapper" >
  <resultMap id="BaseResultMap" type="po.ExceptionList" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="oid" property="oid" jdbcType="INTEGER" />
    <result column="submit" property="submit" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="empname" property="empname" jdbcType="VARCHAR" />
    <result column="empid" property="empid" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="TIME" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="pause" property="pause" jdbcType="INTEGER" />
    <result column="summary" property="summary" jdbcType="LONGVARCHAR" />
    <result column="info" property="info" jdbcType="LONGVARCHAR" />
    <result column="handle" property="handle" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, oid, submit, uid, phone, empname, empid, date, type, pause, handle, result
  </sql>
  <sql id="Blob_Column_List" >
    summary, info
  </sql>
  <select id="selectByPrimaryKey"  resultType="po.ExceptionList" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from atb_exceptionList
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from atb_exceptionList
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="po.ExceptionList" >
    insert into atb_exceptionList (id, oid, submit, 
      uid, phone, empname, 
      empid, date, type, pause, 
      handle, result, summary, 
      info)
    values (#{id,jdbcType=INTEGER}, #{oid,jdbcType=INTEGER}, #{submit,jdbcType=VARCHAR}, 
      #{uid,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{empname,jdbcType=VARCHAR}, 
      #{empid,jdbcType=INTEGER}, #{date,jdbcType=TIME}, #{type,jdbcType=INTEGER}, #{pause,jdbcType=INTEGER}, 
      #{handle,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR}, #{summary,jdbcType=LONGVARCHAR}, 
      #{info,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="po.ExceptionList" >
    insert into atb_exceptionList
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="oid != null" >
        oid,
      </if>
      <if test="submit != null" >
        submit,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="empname != null" >
        empname,
      </if>
      <if test="empid != null" >
        empid,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="pause != null" >
        pause,
      </if>
      <if test="handle != null" >
        handle,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="info != null" >
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="oid != null" >
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="submit != null" >
        #{submit,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="empname != null" >
        #{empname,jdbcType=VARCHAR},
      </if>
      <if test="empid != null" >
        #{empid,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIME},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="pause != null" >
        #{pause,jdbcType=INTEGER},
      </if>
      <if test="handle != null" >
        #{handle,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=LONGVARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="po.ExceptionList" >
    update atb_exceptionList
    <set >
      <if test="oid != null" >
        oid = #{oid,jdbcType=INTEGER},
      </if>
      <if test="submit != null" >
        submit = #{submit,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="empname != null" >
        empname = #{empname,jdbcType=VARCHAR},
      </if>
      <if test="empid != null" >
        empid = #{empid,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIME},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="pause != null" >
        pause = #{pause,jdbcType=INTEGER},
      </if>
      <if test="handle != null" >
        handle = #{handle,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=LONGVARCHAR},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="po.ExceptionList" >
    update atb_exceptionList
    set oid = #{oid,jdbcType=INTEGER},
      submit = #{submit,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      empname = #{empname,jdbcType=VARCHAR},
      empid = #{empid,jdbcType=INTEGER},
      date = #{date,jdbcType=TIME},
      type = #{type,jdbcType=INTEGER},
      pause = #{pause,jdbcType=INTEGER},
      handle = #{handle,jdbcType=VARCHAR},
      result = #{result,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=LONGVARCHAR},
      info = #{info,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>